{% extends 'website/index.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style/aboutus.css' %}">


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../../static/images/123.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3" id="about-title">About Us</h1>
        <p class="lead">SpaceBaby Kai is a popular Instagram handle belonging to 1.5 year old Kainaat Mahajan. Her social media presence is handled by her mother, Tanya who is usually chronicling the adventures and excursions Kainaat is usually on, on her Instagram handle @spacebaby_kai.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button> -->
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
  </div>


  <div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">We have decided to dedicate this space to Kai and keep it as a record for her to see one day. It would most likely be the greatest wealth, the greatest asset to leave your baby girl-a written account of her journey in this world. </p>
      <p class="lead mb-4">Many people ask-Why “SpaceBaby”? Well, Kainaat means The Universe so what other than the Space to relate to the most? Kainaat is a peppy little animal lover who loves to spread cheer and smiles wherever she goes. </p>
      <p class="lead mb-4">While you’re here, to make it worth your while, there is a blog written and maintained by Tanya who is an avid reader and passionate for writing. You’ll find the letters she is writing for her baby girl to grow up and read. And also, giving out her first hand motherhood experiences here.</p>
      <p class="lead mb-4">There is also a shop with the official SpaceBaby merchandise. We’ve tried to keep it as concise and meaningful as possible!</p>
      <p class="lead mb-4">We’d love to hear from you! Suggestions, pieces of advise, or a word or teo of encouragement, we’ll welcome them all! Feel free to write to us for promotions or collaborations too.</p>
    </div>
  </div>


<!-- <img src="../../../static/images/4535151.jpg" id="aboutimg" alt=""> -->
<!-- <div class="container-fluid aboutfirst">

</div> -->
<!-- <div class="container">
    <h1  title="about us kainaat mahajan" id="abouttitle">About Us</h1>

    <div class="text">
        <p>SpaceBaby Kai is a popular Instagram handle belonging to 1.5 year old Kainaat Mahajan. Her social media presence is handled by her mother, Tanya who is usually chronicling the adventures and excursions Kainaat is usually on, on her Instagram handle @spacebaby_kai.</p>
        <p>We have decided to dedicate this space to Kai and keep it as a record for her to see one day. It would most likely be the greatest wealth, the greatest asset to leave your baby girl-a written account of her journey in this world. </p>
        <p>Many people ask-Why “SpaceBaby”? Well, Kainaat means The Universe so what other than the Space to relate to the most? Kainaat is a peppy little animal lover who loves to spread cheer and smiles wherever she goes. </p>
        <p>While you’re here, to make it worth your while, there is a blog written and maintained by Tanya who is an avid reader and passionate for writing. You’ll find the letters she is writing for her baby girl to grow up and read. And also, giving out her first hand motherhood experiences here. </p>
        <p>There is also a shop with the official SpaceBaby merchandise. We’ve tried to keep it as concise and meaningful as possible!</p>
        <p>We’d love to hear from you! Suggestions, pieces of advise, or a word or teo of encouragement, we’ll welcome them all! 
            Feel free to write to us for promotions or collaborations too.</p>
    </div>
</div> -->
{% endblock content %}