{% extends 'website/index.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style/Blog-Template.css' %}" media="screen">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">


<main class="container">

  <div class="row mb-2" style="margin-top: 95px;">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col col-md-6 p-4 d-flex flex-column position-static">
          <!-- <strong class="d-inline-block mb-2 text-primary">World</strong> -->
          <h3 class="mb-0">{{randomBlog.title|slice:"0:20"}}</h3>
          <div class="mb-1 text-muted">{{randomBlog.pub_date}}</div>
          <p class="card-text mb-auto">{{randomBlog.content|safe|slice:"0:30"}}</p>
          <a href="{% url 'ReadBlog' randomBlog.post_id %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto col-md-6 d-none d-lg-block">
          <img src="{{randomBlog.img.url}}" alt="{{randomBlog.title}}" style="width: 200px; height: 200px;">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col col-md-6 p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{randomBlog2.title|slice:"0:20"}}</h3>
          <div class="mb-1 text-muted">{{randomBlog2.pub_date}}</div>
          <p class="mb-auto">{{randomBlog2.content|safe|slice:"0:30"}}
          </p>
          <a href="{% url 'ReadBlog' randomBlog2.post_id %}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto col-md-6 d-none d-lg-block">
          <img src="{{randomBlog2.img.url}}" alt="{{randomBlog.title}}" style="width: 200px; height: 200px;">

        </div>
      </div>
    </div>
  </div>
</main>
<section class="u-clearfix u-section-1" id="sec-92f8">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <!--blog--><!--blog_options_json--><!--{"type":"Recent","source":"","tags":"","count":""}--><!--/blog_options_json-->
    <div class="u-blog u-expanded-width u-repeater u-repeater-1"><!--blog_post-->
      {% for i in Blog %}
      <div class="u-blog-post u-container-style u-repeater-item u-white u-repeater-item-1">
        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><!--blog_post_header-->
          <h4 class="u-blog-control u-text u-text-1">
            <a class="u-post-header-link" href="{% url 'ReadBlog' i.post_id %}">{{i.title|slice:"0:20"}}</a>
          </h4><!--/blog_post_header--><!--blog_post_image-->
          <a class="u-post-header-link" href="{% url 'ReadBlog' i.post_id %}"><img alt=""
              class="u-blog-control u-expanded-width u-image u-image-default u-image-1"
              src="{{i.img.url}}"></a><!--/blog_post_image--><!--blog_post_content-->
          <div class="u-blog-control u-post-content u-text u-text-2 fr-view">Sample small text. Lorem ipsum dolor sit
            amet.
          </div><!--/blog_post_content--><!--blog_post_readmore-->
          <a href="{% url 'ReadBlog' i.post_id %}"
            class="u-blog-control u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-none u-btn-1"><!--blog_post_readmore_content--><!--options_json--><!--{"content":"","defaultValue":"Read More"}--><!--/options_json-->Read
            More<!--/blog_post_readmore_content--></a><!--/blog_post_readmore-->
        </div>
      </div>
      {% endfor %}

    </div><!--/blog-->
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}