{% extends 'website/index.html' %}

{% block content %}
<main class="container" style="margin-top: 105px;">

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the - <span style="color: #F26363;"><i>{{data.author}}</i></span>
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{data.title}}</h2>
        <p class="blog-post-meta">{{data.pub_date}}</p>

        <!-- <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p> -->
        <hr>
        {{data.content|safe}}

        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
          <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
        </nav>

    </div>
    {% load widget_tweaks %}

    <!-- Comment Section -->
    <h2>Comments</h2>
    <div class="row">
      <div class="col-md-12">
        <form action="" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <input type="text" name="user" value="{{user}}">
            <input type="text" name="post" value="{{data.post_id}}">

            comment_form {% render_field form.comment_form class="form-control" id="img" %}

            
            <label for="exampleFormControlTextarea1" class="form-label">Add Comment</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3"></textarea>
          </div>
          <input type="submit" name="" id="">
        </form>
      </div>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3  rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">We have decided to dedicate this space to Kai and keep it as a record for her to see one day.
            It would most likely be the greatest wealth, the greatest asset to leave your baby girl-a written account of
            her journey in this world.</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Filter By</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">January</a></li>
            <li><a href="#">February</a></li>
            <li><a href="#">March</a></li>
            <li><a href="#">April</a></li>
            <li><a href="#">May</a></li>
            <li><a href="#">June</a></li>
            <li><a href="#">July</a></li>
            <li><a href="#">August</a></li>
            <li><a href="#">September</a></li>
            <li><a href="#">October</a></li>
            <li><a href="#">November</a></li>
            <li><a href="#">December</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Our handles</h4>
          <ol class="list-unstyled">
            <li><a href="https://www.instagram.com/spacebaby_kai/" target="_blank">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>


<script>
    $.ajax({
      type: 'GET',
      url: "{% url 'read_blog' %}",
      data: { 'phone': x },
      success: function (data) {
        var instance = JSON.parse(data["named"]);
        var fieldss = instance[0]["fields"];
        $('#c_name').val(fieldss['name'])
        $('#inputAddress').val(fieldss['email'])
        $('#inputAddress2').val(fieldss['address'])
        $('#contactnumber2').val(fieldss['phone2'])
        $('#inputCity').val(fieldss['city'])
        $('#inputZip').val(fieldss['post_code'])
        $('#c_id').val(fieldss['id'])
        console.log(fieldss["id"])

        // console.log("fields", fieldss['name'],);

        console.log("Done");
      },
      error: function (response) {
        // alert the error if any error occured
        alert(response["responseJSON"]["error"]);
      }
    })
  })
</script>
{% endblock content %}