#kai_about{
  position: absolute;
  top: 13%;
  text-align: center;
  border: none;
  font-weight: 800;
  padding: 10px 0;
  font-size: 4.5rem;
  width: 100%;
  animation: flicker 2s infinite alternate;     
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.neon {
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #F2683D,
    0 0 40px #F2683D,
    0 0 80px #F2683D,
    0 0 90px #F2683D,
    0 0 100px #F2683D,
    0 0 150px #F2683D;
    letter-spacing: 2px;
}
h2 {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #F2683D,
      0 0 11px #F2683D,
      0 0 19px #F2683D,
      0 0 40px #F2683D,
      0 0 80px #F2683D,
      0 0 90px #F2683D,
      0 0 100px #F2683D,
      0 0 150px #F2683D;
  
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}