*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #F2F0EB;
}
.navbar{
    background-color: #F2683D;
    max-width: 100vw;
}
.main-section{
    width: 100%;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, transparent, transparent, rgba(248, 5, 106, 0.836),rgb(255, 3, 108)), url('../images/kai3.png');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.nav-link{
    font-size: 1.1rem;
    color: #000;
    margin: 0 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.nav-link:hover{
    font-size: 1.1rem;
    color: pinkred;
    transition: .5s ease;
    color: black;
}
.active{
    color: white;
}

#logo{
    width: 80px;
    height: 50px;
}
.animate-charcter
{
   text-transform: uppercase;
   font-size: 4rem;
  background-image: linear-gradient(
    -225deg,
    blue 0%,
    gold 29%,
    rgb(0, 255, 0) 67%,
    black 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#kai_heading{
    position: absolute;
    top: 20%;
    text-align: center;
    border: none;
    border-top: 5px solid black;
    font-weight: 800;
    border-bottom: 5px solid black;
    padding: 10px 0;
    background-color: #00ffd5;
    font-size: 2.5rem;
    width: 100%;
    /* margin: auto auto; */
    overflow-x: hidden;
}

@media screen and (max-width: 900px) {
    #margintop{
        margin-top: 95px;
    }
    .animate-charcter
    {
    text-transform: uppercase;
    font-size: 4rem;
    background-image: linear-gradient(
        -225deg,
        white 0%,
        gold 29%,
        rgb(0, 255, 0) 67%,
        #00f7ff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
        /* font-size: 190px; */
    }
    #kai_heading{
        position: absolute;
        top: 55%;
        text-align: center;
        border: none;
        border-top: 5px solid black;
    
        border-bottom: 5px solid black;
        padding: 10px 0;
        background-color: #00ffd5;
        font-size: 1.5rem;
        width: 100%;
        /* margin: auto auto; */
        overflow-x: hidden;
    }   
    .navbar{
        position: absolute;
        width: 100%;
    }
}
/* Button */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

span{
    text-decoration: underline; 
    color: orangered;
}

.btn-primary-blog{
    background-color: rgba(255, 3, 108, 1);
    color: #F2F0EB;
}
.btn-primary-login{
    background-color: #fff;
}
.btn-primary-signup{
    background-color: ;
    color: #F2F0EB;
}

